body,
#popup-content{
  width: 100%;
  height: 100%;
  margin: 0;
}

#popup-content{
  display: flex;
  flex-direction: column;
  background-color: #111827;
  color: white;
  justify-content: space-around;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  width: 600px;
  height: 400px;
  padding: 10px;
}

body {
  margin: 0;
}

#popup-content svg{
  width: 84px;
  height: 84px;
  display: block;
  margin: 24px auto 0 auto;
}

#speechtext{
  width: 250px;
  height: auto;
  background-color: #1f2937;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

#btn_div{
  display: flex;
  width: 250px;
  justify-content: space-between;
}

input[type="button"]{
  background-color: white;
  color: #111827;
  font-weight: bold;
  border: 0;
  border-radius: 2px;
}